*{
	padding: 0;
	margin: 0;
}
.sun{
	font-weight: bold;}
    h3{
        text-align: center;
        font-size: 35px;
        font-family: cursive;
        color: rgb(15, 119, 119);
    }
table{
    border: 4; 
    background-color: rgb(235, 208, 208);
    color: rgb(0, 0, 0);
    border-collapse: collapse;
    margin: auto;
    width: 50%;
}
#head{
    background-color: rgba(81, 134, 109, 0.658);
    border: 1px;
    font-size: 19px;
}
td{
    border: 1px solid rgba(22, 22, 22, 0.849);
    padding: 6px;
}
th{
    border: 1px solid black;
}
tr:nth-child(3n){
	background: rgba(211, 211, 211, 0.781)211, 211);
	
}
tr:nth-child(3n+1){
	background: rgba(128, 128, 128, 0.808);
	
}
tr:nth-child(3n+2){
	background: rgba(169, 169, 169, 0.801);
}